.golu {
    color: rgb(7, 6, 6);
    margin: 0 3%;
  }
  .top {
    text-align: center;
    height: 1.7rem;
    color: aliceblue;
    background: rgb(68, 23, 117);
    background: -moz-linear-gradient(
      left,
      rgba(68, 23, 117, 1) 17%,
      rgba(25, 85, 214, 1) 72%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      rgba(68, 23, 117, 1) 17%,
      rgba(25, 85, 214, 1) 72%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      rgba(68, 23, 117, 1) 17%,
      rgba(25, 85, 214, 1) 72%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#441775', endColorstr='#1955d6',GradientType=1 ); /* IE6-9 */
  }
  
  .topnav {
    height: 3.2rem;
    padding: 0 5%;
    margin: 0;
    float: right;
    margin-top: -20px;
  }
  .topnav a {
    color: black;
    margin-right: 30px;
  }
  .sb {
    margin-left: 0px;
  }
  .topnav img {
    height: 100px;
    width: 100px;
    margin-right: 250px;
    margin-top: 20px;
  }
  .container {
    margin-top: 100px;
  }
  .colfirst {
    /* //width: 200px; */
    /* margin-left: 10rem; */
    /* text-align: center; */
  }
  
  .colsecond {
    align-content: center;
    text-align: center;
  }
  
  #design {
    /* margin-top: 3rem; */
    height: 15rem;
    background-color: rgb(216, 216, 216);
  }
  
  .allfees {
    height: 3rem;
    color: white;
    margin-left: 16rem;
    margin-right: 16rem;
    background-color: rgb(102, 61, 180);
    margin-bottom: 4rem;
  }
  
  #all {
    margin-left: 3rem;
  }
  .eye {
    margin-left: 35%;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(102, 61, 180);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 15px;
    width: 32%;
    height: 10vh;
    margin-top: 4rem;
  }
  
  .estimate {
    padding: 50px;
    height: 310px;
    background-color: white;
    width: 60%;
    -webkit-box-shadow: 0 0 10px rgb(250, 10, 10);
    box-shadow: 0 0 10px rgb(7, 6, 6);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  
    margin-left: 18rem;
  }
  .month {
    margin-left: 20px;
  }
  .period {
    margin-right: 95px;
  }
  
  .test {
    margin-left: 20rem;
    margin-right: 20rem;
  }
  
  .tes {
    /* //width:  10%; */
    height: 15rem;
    background-color: rgb(102, 61, 180);
    /* //padding: 5rem; */
    margin-left: 20px;
    border-radius: 15px;
  }
  
  .track {
    height: 22rem;
    background-color: rgb(102, 61, 180);
    margin-top: 15rem;
    margin-bottom: 15rem;
  }
  
  .track2 {
    color: white;
    margin-top: 3rem;
    margin-right: 5rem;
  }
  
  #galea {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  button {
    background-color: white;
  
    padding: 15px 32px;
    text-align: center;
  
    font-size: 16px;
    border-radius: 30px;
  }
  
  .track1 {
    margin-left: 8rem;
    margin-top: -5rem;
    -webkit-box-shadow: 0 0 10px rgb(250, 10, 10);
    box-shadow: 0 0 10px rgb(7, 6, 6);
  }
  
  .end {
    height: 21rem;
    background-color: black;
    margin-top: 5rem;
  }
  
  #colour {
    color: rgb(37, 37, 197);
  }
  
  #colour2 {
    color: rgb(124, 205, 243);
  }
  
  hr.solid {
    border-top: 0.0000000000000000000001em solid #bbb;
  }
  .darwinex {
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    -webkit-box-shadow: 0 0 10px rgb(250, 10, 10);
    box-shadow: 0 0 10px rgb(151, 147, 147);
    border-top: 4px solid rgb(102, 61, 180);
    height: 25.29rem;
    text-align: center;
  }
  .darwinex1 {
    font-size: 12px;
    /* border: 1px solid  rgb(151, 147, 147); */
  
    padding: 10px;
  }
  
  .dar {
    color: rgb(102, 61, 180);
  }
  
  .darbottom {
    height: 3rem;
    background-color: rgb(102, 61, 180);
    color: blanchedalmond;
  }
  
  .dar2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid grey;
    margin-bottom: 2rem;
  }
  
  .padding {
    font-size: 10px;
  }
  
  .performance {
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 35rem;
  }
  .performance1 {
    background-color: rgb(102, 61, 180);
    height: 7rem;
    color: lavender;
  }
  
  .es {
    text-align: center;
  }
  hr.solid1 {
    border-top: 0.0000000000000000000001em solid #bbb 5rem;
    /* width: 3rem; */
  }
  
  .but {
    background-color: rgb(102, 61, 180);
    border: none;
    color: white;
  
    text-align: center;
  
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 10px;
    padding: 10px 24px;
    font-size: 20px;
    width: 15rem;
  }
  
  .butt {
    margin-left: 4rem;
    font-size: 15px;
    width: 10rem;
  }
  
  .benefits {
    margin-left: 20rem;
    margin-right: 8rem;
    height: 10rem;
    margin-top: 10rem;
    margin-bottom: 17rem;
    font-family: "Times New Roman", Times, serif;
  }
  
  .benefits1 {
    margin-left: 18rem;
    margin-top: 2rem;
  }
  
  .benefits2 {
    /* margin-left: -15rem; */
    margin-right: 12rem;
  }
  
  .blue {
    color: rgb(54, 190, 231);
  }
  
  #yellow {
    background-color: yellow;
    color: red;
    margin-right: 4rem;
    text-align: center;
  }
  
  .testimonial1 {
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 3rem;
    margin-bottom: -4rem;
    color: white;
    text-align: center;
  }
  
  .tbox1 {
    height: 24rem;
    width: 5px;
    border: 1px solid rgb(189, 188, 188); /* margin-left: 15rem; */
    background-color: white;
  }
  
  .tbox2 {
    height: 28rem;
    width: -15px;
  
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: -2rem;
    border: 1px solid rgb(189, 188, 188);
    background-color: white;
  }
  
  .tbox3 {
    height: 24rem;
    width: 10px;
    border: 1px solid rgb(189, 188, 188);
    background-color: white;
  }
  
  .testimonial {
    background-color: rgb(211, 203, 218);
    margin-bottom: 10rem;
  }
  
  #portfolio_out {
    height: 28rem;
    border: 15px solid rgb(102, 61, 180);
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 15rem;
    margin-right: 15rem;
    border-radius: 30px;
    color: rgb(102, 61, 180);
  }
  .portfolio_out:after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    top: -5px;
    left: 0px;
    border: 5px solid white;
  }
  
  .portfolio1 {
    height: 250px;
    margin-left: 0.5rem;
    margin-top: 4rem;
  }
  
  .buttbut {
    background-color: rgb(102, 61, 180);
    border: none;
    color: white;
  
    text-align: center;
  
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 10px;
    padding: 10px 24px;
    font-size: 15px;
    width: 10rem;
  }
  
  .portfolio2 {
    text-align: right;
    margin-left: -25rem;
    margin-top: 3rem;
    margin-right: 1rem;
  }
  
  .but2 {
    background-color: rgb(48, 200, 238);
    border: none;
    color: white;
  
    text-align: center;
  
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 10px;
    padding: 10px 24px;
    font-size: 25px;
    width: 13rem;
    border-radius: 25px;
    margin-right: 20rem;
  }
  
  #trading {
    height: 20rem;
    margin-left: 17rem;
    margin-right: 17rem;
    border: 1px solid rgb(209, 208, 208);
    -webkit-box-shadow: 0 0 10px rgb(250, 10, 10);
    box-shadow: 0 0 10px rgb(151, 147, 147);
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .trading3 {
    margin-top:2rem;
    height: 100px;
    margin-left: 10rem;
  }
  .test {
    margin-left: 20rem;
    margin-right: 20rem;
  }
  
  .tes {
    /* //width:  10%; */
    height: 15rem;
    background-color: rgb(37, 37, 197);
    /* //padding: 5rem; */
    margin-left: 20px;
    border-radius: 15px;
  }
  
  .track {
    height: 22rem;
    background-color: rgb(102, 61, 180);
    margin-top: 15rem;
    margin-bottom: 15rem;
  }
  
  .track2 {
    color: white;
    margin-top: 3rem;
    margin-right: 5rem;
  }
  
  #galea {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  button {
    background-color: white;
  
    padding: 15px 32px;
    text-align: center;
  
    font-size: 16px;
    border-radius: 30px;
  }
  
  .track1 {
    margin-left: 8rem;
    margin-top: -5rem;
    -webkit-box-shadow: 0 0 10px rgb(250, 10, 10);
    box-shadow: 0 0 10px rgb(7, 6, 6);
  }
  
  .end {
    height: 25rem;
    background-color: black;
    margin-top: 5rem;
  }
  
  .footer {
  }
  
  #colour {
    color: rgb(37, 37, 197);
  }
  
  #colour2 {
    color: rgb(124, 205, 243);
  }
  
  hr.solid {
    border-top: 0.01px solid #bbb;
  }
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .wrap {
    overflow: hidden;
  }
  .box {
    float: left;
    width: 30%;
    position: relative;
    min-height: 50px;
  }
  .overlap {
    position: absolute;
    top: 50px;
    background-color:white;
    right: -125px;
    width: 400px;
    color: black;
    padding: 0 25px;
    border:1px solid rgb(206, 205, 205);
    height: 12rem;
    text-align: center;
  }
  .overlap h1{
    margin-top: 2rem;
  }
  .main {
    float: left;
    width: 40%;
    padding: 5px;
    padding-left: 150px;
    /* background-color:rgb(102, 61, 180); */
    background: -moz-linear-gradient(
      left,
      rgba(68, 23, 117, 1) 17%,
      rgba(25, 85, 214, 1) 72%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      rgba(68, 23, 117, 1) 17%,
      rgba(25, 85, 214, 1) 72%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      rgba(68, 23, 117, 1) 17%,
      rgba(25, 85, 214, 1) 72%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#441775', endColorstr='#1955d6',GradientType=1 ); /* IE6-9 */
    color: white;
   
    font-size: 14px;
    height: 23rem;
    /* margin-top: -5rem; */
    text-align: center;
  }
  .footer{
    margin-left: 12rem;
    margin-right: 12rem;

}

.end{
    height: 19rem;
    background-color: black;
   margin-top: 5rem;
   color: rgb(170, 164, 164);
   font-size: 12px;
    
}

#pal{
    height: 3rem;
    background-color: rgb(31, 29, 29);
    color :rgb(170, 164, 164);
    text-align:center;
   padding-top: 1rem;
}

#colour{
  color: rgb(37, 37, 197);
}

#colour2{
  color: rgb(124, 205, 243);
}

hr.solid {
  border-top: 0.0000000000000000000001em solid #bbb;
} 

.colsecond img{
  height: 260px;
  margin-left: 0.5rem;
  /* margin-top: 4rem; */


}


.trading1{
  margin-left: 3rem;
  margin-top: 2rem;
}

.trading2{
  margin-top: 12rem;
  margin-left: 5rem;
}

.trading4{
  margin-top: 5rem;
 margin-left: 100px;
}